<%- include('./partials/head') %>

<h2>Students</h2>
<ul class="student">
  <% persons.forEach(person => { %>
    <li>
      <a href="./person/<%= person.id %>">
        <img src="<%= person.avatar%>" alt="">
        <h3><%= person.name + " " + person.surname %></h3>
      </a>
    </li>
  <% }) %>
</ul>

<%- include('./partials/foot') %>