<%- include('./partials/head') %>

<h2>Students</h2>
<ul class="student">
  <% persons.forEach(person => { %>
    <li>
      <a href="./person/<%= person.id %>"><%= person.name + " " + person.surname %></a>, squad_id <%= person.squad_id %>
    </li>
  <% }) %>
</ul>

<%- include('./partials/foot') %>